<h1> Add a new System </h1>

<form action="/systems/new" method="POST">

  <label> System Name </label>
  <input type="text" name="name"> <br>

  <label> System Manufacturer </label>
  <input type="text" name="manufacturer"> <br>

  <label> System Release Date </label>
  <input type="text" name="release_date"> <br>

  <input type="submit" value="Create">
</form>
<a href="/account">Return to home page</a>
