<h1>Add a new Videogame</h1>

<form action='/videogames/new' method='POST'>

  <label> Videogame Title </label>
  <input type="text" name="title"> <br>

  <label> Videogame System </label>
  <input type="text" name="system"> <br>

  <label> Videogame Publisher </label>
  <input type="text" name="publisher"> <br>

  <label> Videogame Release Date </label>
  <input type="text" name="release_date"> <br>

  <input type="submit" value="Create">
</form>
<a href="/account">Return to home page</a>
