<h1>Welcome <%=@user.username%></h1>
<h2>Select either Videogames or Systems to get started managing your collection!</h2>

<p> <a href="videogames/new">Add a new Videogame</a> <a href="/systems/new">Add a new System</a>
<p> <a href="/videogames">View your Videogames Collection</a> <a href="/systems">View your Systems Collection</a>
<p> <a href="/logout">Logout</a>
